body{
  background: url(landscape.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

p{
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-color: "black";
  font-size: 16px;
}

.navbar .navbar-nav {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}
